*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background-image:linear-gradient(to right ,#b21ddf, #d13abd);
}
#container{
    display: grid;
    place-items: center;
    margin-top: 10vh;
}
#container .head header{
    font-size: 2rem;
    color: rgb(21, 14, 73);
    font-family: "Poppins", sans-serif;
}
#container .section{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: white;
    height: 15rem;
    justify-content: space-around;
    border-radius: 0.5rem;
}
#container .section form{
    display: flex;
    flex-direction: column;
    width: 25rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
#container .section form input{
    width: 15rem;
    height: 2rem;
    border: none;
    margin-top: 1rem;
    font-size: 1rem;
    border-bottom: 2px solid purple;
}
#container .section form input:focus{
    outline: none
}
#container .section section{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container .section section button{
    width: 8rem;
    height: 2.2rem;
    border-radius: 1rem;
    background: rgb(75, 75, 230);
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    
}
#container .section section button:hover{
    cursor: pointer;
    background: rgb(20, 60, 241);
    
}